<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">





<!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->

<!--    <bean id="rockMusic"-->
<!--          class="by.epam.ivanchenko.RockMusic">-->
<!--    </bean>-->

<!--    <bean id="classicalMusic"-->
<!--          class="by.epam.ivanchenko.ClassicalMusic"-->
<!--          init-method="myInit"-->
<!--          destroy-method="myDestroy">-->
<!--        &lt;!&ndash;          factory-method="myFactoryMethod"&ndash;&gt;-->
<!--&lt;!&ndash;    для scope:prototype  destroy-method не вызывается    &ndash;&gt;-->
<!--    </bean>-->

<!--    <bean id="rapMusic"-->
<!--          class="by.epam.ivanchenko.RapMusic">-->
<!--    </bean>-->


<!--&lt;!&ndash;    <bean id="musicPlayer"&ndash;&gt;-->
<!--&lt;!&ndash;          class="by.epam.ivanchenko.MusicPlayer"&ndash;&gt;-->
<!--&lt;!&ndash;          scope="prototype">&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;  по умолчанию singleton&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        <constructor-arg ref="musicBean"/>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        <property name="musicList">&ndash;&gt;-->
<!--&lt;!&ndash;           <list>&ndash;&gt;-->
<!--&lt;!&ndash;               <ref bean="classicMusic"/>&ndash;&gt;-->
<!--&lt;!&ndash;               <ref bean="rapMusic"/>&ndash;&gt;-->
<!--&lt;!&ndash;               <ref bean="rockMusic"/>&ndash;&gt;-->
<!--&lt;!&ndash;           </list>&ndash;&gt;-->
<!--&lt;!&ndash;        </property>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="name" value="${musicPlayer.name}"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="volume" value="${musicPlayer.volume}"/>&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--    <context:component-scan base-package="by.epam.ivanchenko" />-->
<!--   сканирование компонентов -->


</beans>